<style>
.index-container {
    background: #513;
    border-left: solid 4px #624;
    padding: 2em;
}
h4 {
    text-decoration: color;
    font-size: 2.8em;
    margin: 0;
    text-decoration: underline;
    text-decoration-thickness: 0.06em;
    background: #312;
    padding: 0.3em;
    width: max-content;
}
h2 {
    margin: 0;
}
.grid {
    text-align: center;
    vertical-align: center;
    border-spacing: 2em;
    min-width: 40em;
}
.pawn {
    font-size: 10em;
}
input#ispc1[type='checkbox']:checked ~ .grid > tbody > #human-row > td > label[for='ispc1'] > div:nth-child(2) {
    display: none;
}
input#ispc1[type='checkbox']:not(:checked) ~ .grid > tbody > #human-row > td > label[for='ispc1'] > div:nth-child(1) {
    display: none;
}
input#ispc2[type='checkbox']:checked ~ .grid > tbody > #human-row > td > label[for='ispc2'] > div:nth-child(2) {
    display: none;
}
input#ispc2[type='checkbox']:not(:checked) ~ .grid > tbody > #human-row > td > label[for='ispc2'] > div:nth-child(1) {
    display: none;
}
input#ispc1[type='checkbox']:checked + input#ispc2[type='checkbox']:checked +.grid > tbody > #hostrow {
    display: none;
}
.button {
    background: #312;
    border-bottom: solid 5px #534;
    color: wheat;
    font-size: 1.5em;
    cursor: pointer;
    padding: 1em;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.submit-button {
    background: #423;
    border-bottom: solid 5px #645;
    color: white;
    font-size: 1.5em;
}
body {
    --radio-primary: #f5deb3;
    --radio-secondary: #f5deb350;
}
.outerbox {
    background: transparent;
    border: solid 4px var(--radio-primary);
    display: block;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

.innerbox {
    display: block;
    visibility: collapse;
    background: var(--radio-primary);
    width: 100%;
    height: 2em;
}
input[type='radio']:checked + label > .outerbox > .innerbox {
    visibility: visible !important;
}
input[type='radio']:not(:checked) + label > .outerbox:hover > .innerbox {
    background: var(--radio-secondary);
    visibility: visible !important;
}
</style>
<div class='index-container'>
    <h4>Select settings</h4>
    <form method='post' action='/match'>
        {% for i in (1..2) %}
        <input class='ispc' type='checkbox' id='ispc{{ i }}' style='display: none'
               {% if i == 2 %}checked{% endif %}
               name='human{{ i }}'>
        {% endfor %}
        <table class='grid'>
            <tr>
                <th><h2 class='pawn' style='color: white'>♟︎</h2></th>
                <th><h2 class='pawn' style='color: black'>♟︎</h2></th>
            </tr>
            <tr id='human-row'>
                {% for i in (1..2) %}
                <td>
                    <label for='ispc{{ i }}'>
                        <div class='button'>Computer</div>
                        <div class='button'>Human</div>
                    </label>
                </td>
                {% endfor %}
            </tr>
            <tr id='hostrow'>
                {% for i in (1..2) %}
                <td>
                    <input id='hostcolor{{ i }}' class='hostcolor' type='radio' name='hostcolor' style='display:none' value={% if i==1 %}'on' checked{% else %}'off'{% endif %}>
                    <label for='hostcolor{{ i }}'>
                        <div class='outerbox'><div class='innerbox'></div></div>
                    </label>
                </td>
                {% endfor %}
            </tr>
        </table>
        <input id='submit' type='submit' style='display: none'>
        <label class='button submit-button' for='submit'>Start Match!</label>
    </form>
</div>
